# Node.js
backend/node_modules/
client/node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# Build directories
build/
dist/

# React build files (if using React)
frontend/build/

# IDE or text editor configurations
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Other files that shouldn't be tracked
coverage/
*.bak
